<mat-card class="mt-24 mx-4">
  <mat-card-content>
    <form
      (ngSubmit)="submitForm()"
      [formGroup]="clientForm"
      class="flex flex-col justify-center align-middle items-center"
    >
      <p class="w-2/3">
        <mat-form-field class="w-full">
          <mat-label>Nombre</mat-label>
          <input formControlName="name" matInput />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p class="w-2/3">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Primer Apellido</mat-label>
          <input formControlName="firstLastName" matInput />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p class="w-2/3">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Segundo Apellido</mat-label>
          <input formControlName="secondLastName" matInput />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </p>
      <p class="w-2/3">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input formControlName="phone" matInput />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
      <p class="w-2/3">
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </p>
      <p class="w-2/3">
        <mat-form-field class="w-full">
          <mat-label>Notas</mat-label>
          <textarea formControlName="notes" matInput></textarea>
          <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
      </p>
      <p class="w-2/3 flex gap-4">
        <button
          mat-flat-button
          color="primary"
          [disabled]="clientForm.invalid"
          type="submit"
        >
          Guardar
        </button>
        <button
          mat-flat-button
          color="accent"
          type="reset"
          (click)="this.clientForm.reset()"
        >
          Limpiar
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
