<mat-form-field class="w-full">
  <mat-label>Búsqueda</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Busque un cliente"
    #input
  />
</mat-form-field>

<section>
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Action Column -->

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Editar</th>
      <td mat-cell *matCellDef="let row">
        <div class="flex gap-2">
          <button
            mat-mini-fab
            color="warn"
            aria-label="delete accion"
            (click)="deleteClient(row.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-mini-fab
            color="accent"
            aria-label="edit accion"
            (click)="editClient(row.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            color="primary"
            mat-mini-fab
            aria-label="historical accion"
            (click)="historicalPatient(row.id)"
          >
            <mat-icon>description</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id Paciente</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
      <td mat-cell *matCellDef="let row">{{row.phone}}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <!-- Notes Column -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Notas</th>
      <td mat-cell *matCellDef="let row">{{row.notes}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
      @tableRowAnimation
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        <mat-progress-bar mode="indeterminate" />
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[ 10, 25, 100]"
    aria-label="Selecciona paginas de clientes"
  />
</section>

<ng-template #modalTemplate>
  <mat-dialog-content>
    <h1 mat-dialog-title>Confirme la eliminación de este paciente</h1>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>No</button>
    <button mat-button mat-dialog-close="ok">OK</button>
  </mat-dialog-actions>
</ng-template>
