<mat-toolbar color="primary" class="fixed w-full z-10">
  <mat-toolbar-row>
    <span>Cemeresi-Docs</span>
    <div class="flex justify-between w-full">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Open menu"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      @if(showGoBack){
      <button mat-icon-button aria-label="Add client" routerLink="">
        <mat-icon>reply</mat-icon>
      </button>
      }@else {
      <button mat-icon-button aria-label="Add client" routerLink="form">
        <mat-icon>add</mat-icon>
      </button>
      }
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="w-full h-full" autosize>
  <mat-drawer
    #drawer
    class="flex items-center justify-center h-full mt-16"
    mode="side"
  >
    <div class="flex flex-col px-8 py-2">
      <button mat-button color="primary" (click)="exportExcel()">Export</button>
      <!-- <button mat-button color="primary">Import</button> -->
    </div>
  </mat-drawer>

  <section class="mt-16">
    <router-outlet />
  </section>
</mat-drawer-container>
