<h2 class="text-center">
  {{patient()?.name}} {{patient()?.firstLastName}} {{patient()?.secondLastName}}
</h2>
<mat-form-field class="w-full">
  <mat-label>Histórico</mat-label>
  <textarea
    matInput
    placeholder="Escribe aquí..."
    [formControl]="historicalContent"
  ></textarea>
</mat-form-field>
<!-- <editor
  [formControl]="historicalContent"
  [init]="{
    license_key: 'gpl',
    base_url: '/tinymce', 
    suffix: '.min',
    menubar: false,
    plugins: 'lists link image paste help wordcount',
    toolbar: 'undo redo | blocks | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor',
    branding: false,
    statusbar:false,
    tabindex:0,
    auto_resize:true,
    placeholder: 'Escribe aquí...',
    autoresize_bottom_margin: 10     
  }"
/> -->
<div class="w-full flex justify-between p-4">
  <div class="flex gap-4">
    <button
      mat-flat-button
      color="primary"
      (click)="saveHistorical()"
      type="button"
    >
      Guardar
    </button>

    <button
      mat-flat-button
      color="accent"
      type="reset"
      (click)="this.historicalContent.reset()"
    >
      Limpiar
    </button>
  </div>
  <button mat-flat-button (click)="generatePDF()" type="button">
    Generar PDF
  </button>
</div>
